// 間距
.mt-160{
    margin-top: 160px;
}
.mb-40 {
margin-bottom: 40px;
}

.mb-8 {
margin-bottom: 8px;
}

.mb-12{
margin-bottom: 12px;
}
.mb-16 {
margin-bottom: 16px;
}
  
.ml-auto{
    margin-left: auto;
}
// 共用顏色與樣式
.a-none {
text-decoration: none;
color: #000000;
}
.text-secondary {
font-size: 20px;
line-height: 1.5;
color: #949494;
}

//文字大小
.font-l{
    font-size: 128px;
}

.font-m{
    font-size: 32px;
}
      
//文字方向
.text-right{
    text-align: right;
}